.content-wrapper{
    display: flex;
}
.left-content{
    flex-basis: 75%;
    
}
.left-content p{
    margin: 15px;
}
.right-content{
    flex-basis: 25%;
    
}
.full-height{
    min-height: 90vh;
    background-color: lightgray;
}

.cart-item{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    align-items: flex-end;
}

.cart-wrapper{
    padding: 10px;
    margin: 0 auto;
    width: 80%;
}
.cart-wrapper input{
    text-align: center  ;
}
.cart-wrapper h1{
    padding-bottom: 10px;
}

.counter{
    display: flex;
    justify-content: flex-start;
}

.counter-button, .counter-input{
    width: 20px;
    padding: 2px;
    border: 1px solid lightgray;
}

.checkout{
    width: 100%;
    align-items: flex-end;;
}

.button{
        background-color: #cc2216;
        color: white;
        padding: 5px;
        text-align: center;
}
